<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @place.title %>
</p>

<p>
  <b>Place type:</b>
  <%= @place.place_type %>
</p>

<p>
  <b>Schedule:</b>
  <%= @place.schedule %>
</p>

<p>
  <b>Latitude:</b>
  <%= @place.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @place.longitude %>
</p>

<p>
  <b>Image:</b>
  <%= @place.image %>
</p>

<p>
  <b>Description:</b>
  <%= @place.description %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

<p> Comentarios</p>

<table>
  <tr>
    <th>Place</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @place.comments.each do |comment| %>
  <tr>
    <td><%= comment.place_id %></td>
    <td><%= comment.comment %></td>
    <td><%= link_to 'Show',  place_comment_path(@place, comment) %></td>
    <td><%= link_to 'Destroy', place_comment_path(comment.place,comment), :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

	<%= link_to "New Post", new_place_comment_path(@place) %>


